In [1]:
import os

import pandas as pd
import numpy as np

import requests
import json
from pandas.io.json import json_normalize

import webbrowser
import folium
from folium import plugins

import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc, rcParams 
import seaborn as sns

In [2]:
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
plt.style.use('fivethirtyeight')

In [3]:
job_dir = './job/'
job_list = os.listdir(job_dir)
pd.DataFrame(job_list)

                     0
0    0.규모별_(16_19).csv
1    1.규모별_(20_21).csv
2       2.청년고용률_시도.csv
3  3.비정규직근로자_비율_시도.csv
4         4.경제활동인구.csv

### Load Data

In [4]:
df = pd.read_csv(os.path.join(job_dir + job_list[4]), encoding='cp949')
df

,시도별,2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2019.8,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7,2020.8
0,시도별,15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15-64세 고용률 (%),...,15-64세 고용률 (%),15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15-64세 고용률 (%)
1,계,43606,27418,26409,1009,16187,62.9,3.7,60.6,66.1,...,66.8,44785,28012,26904,1108,16773,62.5,4.0,60.1,65.9
2,서울특별시,8583,5372,5146,226,3211,62.6,4.2,60.0,65.8,...,66.3,8516,5293,5051,241,3223,62.1,4.6,59.3,65.9
3,부산광역시,3001,1754,1686,69,1247,58.5,3.9,56.2,62.6,...,64.2,2948,1712,1640,72,1237,58.1,4.2,55.6,62.9
4,대구광역시,2102,1301,1247,54,802,61.9,4.1,59.3,65.3,...,64.2,2091,1232,1184,48,859,58.9,3.9,56.6,63.0
5,인천광역시,2461,1598,1520,78,863,64.9,4.9,61.8,67.2,...,68.3,2544,1634,1560,74,910,64.2,4.6,61.3,66.9
6,광주광역시,1257,753,730,23,504,59.9,3.1,58.1,62.5,...,64.5,1274,778,748,30,497,61.0,3.9,58.7,63.8
7,대전광역시,1295,800,774,26,496,61.7,3.2,59.7,64.6,...,65.3,1286,816,780,36,471,63.4,4.4,60.7,66.2
8,울산광역시,976,599,576,23,378,61.3,3.8,59.0,62.4,...,63.7,964,585,560,25,379,60.7,4.2,58.1,62.9
9,세종특별자치시,-,-,-,-,-,-,-,-,-,...,65.9,287,185,180,5,102,64.5,2.8,62.7,66.3
10,경기도,10548,6767,6504,264,3781,64.2,3.9,61.7,67.0,...,67.6,11456,7193,6909,285,4263,62.8,4.0,60.3,65.9
11,강원도,1288,771,749,22,517,59.9,2.8,58.2,64.6,...,68.3,1307,827,795,33,480,63.3,3.9,60.8,67.0
12,충청북도,1363,867,845,23,495,63.7,2.6,62.0,68.2,...,68.3,1409,919,890,29,489,65.3,3.2,63.2,69.0
13,충청남도,1987,1266,1226,40,721,63.7,3.2,61.7,67.5,...,69.3,1885,1218,1176,42,667,64.6,3.5,62.4,67.8
14,전라북도,1569,960,940,20,609,61.2,2.1,59.9,65.5,...,64.4,1555,956,932,24,600,61.5,2.5,59.9,64.6
15,전라남도,1539,994,964,30,545,64.6,3.0,62.7,67.5,...,68.8,1525,998,974,24,528,65.4,2.4,63.9,69.1
16,경상북도,2313,1490,1443,47,823,64.4,3.2,62.4,67.5,...,67.4,2321,1478,1418,60,842,63.7,4.0,61.1,66.4
17,경상남도,2812,1763,1704,59,1049,62.7,3.3,60.6,65.9,...,67.0,2854,1802,1729,72,1052,63.1,4.0,60.6,65.5
18,제주도,512,363,355,8,150,70.8,2.2,69.3,73.8,...,72.5,563,388,378,10,176,68.8,2.5,67.1,70.7

In [5]:
years1=[]
years2=[]
for year in range(2016, 2021):
    y1 = '{}.7'.format(year)
    y2 = '{}.6'.format(year)
    years1.append(y1)
    years2.append(y2)
years2

['2016.6', '2017.6', '2018.6', '2019.6', '2020.6']

In [6]:
df_hire_rate = pd.concat([df.loc[1:, '시도별'], df.loc[1:, years1]], axis=1).reset_index().drop('index', axis=1)
df_fire_rate = pd.concat([df.loc[1:, '시도별'], df.loc[1:, years2]], axis=1).reset_index().drop('index', axis=1)

In [7]:
# 결측치 제거 
df_hire_rate = df_hire_rate.replace('-', 0)
df_fire_rate = df_fire_rate.replace('-', 0)

In [8]:
# 데이터 타입 변환 
df_hire_float = pd.concat([df_hire_rate.iloc[:, 0], df_hire_rate.iloc[:,1:].astype(float)], axis=1)
df_fire_float = pd.concat([df_fire_rate.iloc[:, 0], df_fire_rate.iloc[:,1:].astype(float)], axis=1)

In [9]:
df_hire_float.replace('제주도', '제주특별자치도', inplace=True)
df_fire_float.replace('제주도', '제주특별자치도', inplace=True)

In [10]:
# 인구
pop_dir = './pop/'
pop_list = os.listdir(pop_dir)
df_pop = pd.read_csv(os.path.join(pop_dir + pop_list[0]), encoding='cp949')

In [11]:
df_pop = df_pop.drop([1, 2, 3], axis=0).reset_index()
df_pop = df_pop.drop(columns='index')

In [12]:
df_pop

   행정구역별(읍면동)      2015      2016      2017      2018      2019      2020
0          전국  51069375  51269554  51422507  51629512  51779203  51829136
1       서울특별시   9904312   9805506   9741871   9673936   9639541   9586195
2       부산광역시   3448737   3440484   3416918   3395278   3372692   3349016
3       대구광역시   2466052   2461002   2453041   2444412   2429940   2410700
4       인천광역시   2890451   2913024   2925967   2936117   2952237   2945454
5       광주광역시   1502881   1501557   1496172   1490092   1489730   1477573
6       대전광역시   1538394   1535445   1525849   1511214   1498839   1488435
7       울산광역시   1166615   1166033   1157077   1150116   1143692   1135423
8     세종특별자치시    204088    242507    276589    312374    338136    353933
9         경기도  12479061  12671956  12851601  13103188  13300900  13511676
10        강원도   1518040   1521751   1521386   1520391   1520127   1521763
11       충청북도   1589347   1603404   1611009   1620935   1629343   1632088
12       충청남도   2107802   2132566   2162426   2181416   2188649   2176636
13       전라북도   1834114   1833168   1826174   1818157   1807423   1802766
14       전라남도   1799044   1796017   1792319   1790352   1787543   1788807
15       경상북도   2680294   2682169   2677058   2672902   2668154   2644757
16       경상남도   3334524   3339633   3345293   3350350   3347209   3333056
17    제주특별자치도    605619    623332    641757    658282    665048    670858

In [13]:
# job_dir = './job/'
# pop_dir = './pop/'
# job_list = os.listdir(job_dir)
# pop_list = os.listdir(pop_dir)

# # 비정규직 데이터 로드
# df_tmp = pd.read_csv(os.path.join(job_dir + job_list[3]), encoding='cp949')
# # df.head()

# # 0행 제거
# df_tmp = df_tmp.drop(0).reset_index().drop('index', axis=1)

# # 결측치 제거 및 데이터 타입 변환
# df_tmp.replace('-', 0, inplace=True)
# df_tmp = pd.concat([df_tmp.iloc[:, 0], df_tmp.iloc[:, 1:].astype(float)], axis=1)

### 지도 시각화

In [14]:
state_geo = json.load(open('./json/0.TL_SCCO_CTPRVN_WGS84.json', encoding='utf-8'))

In [15]:
# # Initialize the map:
# m = folium.Map(location=[36, 127], tiles="OpenStreetMap", zoom_start=7)

# hire_rate = folium.Choropleth(
#     geo_data= state_geo,
#     name='고용률',
#     data=df_hire_float.iloc[1:, :],
#     columns=['시도별', '2020.7'],
#     key_on='feature.properties.CTP_KOR_NM',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.3,
#     color = 'gray',
#     legend_name = 'hire_rate'
# ).add_to(m)

# fire_rate = folium.Choropleth(
#     geo_data=state_geo,
#     name='실업률',
#     data=df_fire_float.iloc[1:, :],
#     columns=['시도별', '2020.6'],
#     key_on='feature.properties.CTP_KOR_NM',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.3,
#     color = 'gray',
#     legend_name = 'fire_rate'
# ).add_to(m)

# population = folium.Choropleth(
#     geo_data=state_geo,
#     name='인구',
#     data=df_pop.iloc[1:, :],
#     columns=['행정구역별(읍면동)', '2020'],
#     key_on='feature.properties.CTP_KOR_NM',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.3,
#     color = 'gray',
#     legend_name = 'population'
# ).add_to(m)


# tmp_df = folium.Choropleth(
#     geo_data=state_geo,
#     name='비정규직 비율',
#     data=df_tmp.iloc[1:, :],
#     columns=['행정구역별', '2020'],
#     key_on='feature.properties.CTP_KOR_NM',
#     fill_color='YlOrRd',
#     fill_opacity=0.7,
#     line_opacity=0.3,
#     color = 'gray',
#     legend_name = '비정규직 비율'
# ).add_to(m)

# hire_rate.geojson.add_child(folium.features.GeoJsonTooltip(['CTP_KOR_NM'], labels=False))
# title_html = '<h3 align="center" style="font-size:20px"><b>popluation index </b></h3>'
# m.get_root().html.add_child(folium.Element(title_html))
# folium.LayerControl().add_to(m)

# # Save to html
# # m.save('folium_kr.html')

# m

In [21]:
26409/43606

0.6056276659175343

In [17]:
df

,시도별,2016,2016.1,2016.2,2016.3,2016.4,2016.5,2016.6,2016.7,2016.8,...,2019.8,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7,2020.8
0,시도별,15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15-64세 고용률 (%),...,15-64세 고용률 (%),15세이상인구 (천명),경제활동인구 (천명),취업자 (천명),실업자 (천명),비경제활동인구 (천명),경제활동참가율 (%),실업률 (%),고용률 (%),15-64세 고용률 (%)
1,계,43606,27418,26409,1009,16187,62.9,3.7,60.6,66.1,...,66.8,44785,28012,26904,1108,16773,62.5,4.0,60.1,65.9
2,서울특별시,8583,5372,5146,226,3211,62.6,4.2,60.0,65.8,...,66.3,8516,5293,5051,241,3223,62.1,4.6,59.3,65.9
3,부산광역시,3001,1754,1686,69,1247,58.5,3.9,56.2,62.6,...,64.2,2948,1712,1640,72,1237,58.1,4.2,55.6,62.9
4,대구광역시,2102,1301,1247,54,802,61.9,4.1,59.3,65.3,...,64.2,2091,1232,1184,48,859,58.9,3.9,56.6,63.0
5,인천광역시,2461,1598,1520,78,863,64.9,4.9,61.8,67.2,...,68.3,2544,1634,1560,74,910,64.2,4.6,61.3,66.9
6,광주광역시,1257,753,730,23,504,59.9,3.1,58.1,62.5,...,64.5,1274,778,748,30,497,61.0,3.9,58.7,63.8
7,대전광역시,1295,800,774,26,496,61.7,3.2,59.7,64.6,...,65.3,1286,816,780,36,471,63.4,4.4,60.7,66.2
8,울산광역시,976,599,576,23,378,61.3,3.8,59.0,62.4,...,63.7,964,585,560,25,379,60.7,4.2,58.1,62.9
9,세종특별자치시,-,-,-,-,-,-,-,-,-,...,65.9,287,185,180,5,102,64.5,2.8,62.7,66.3
10,경기도,10548,6767,6504,264,3781,64.2,3.9,61.7,67.0,...,67.6,11456,7193,6909,285,4263,62.8,4.0,60.3,65.9
11,강원도,1288,771,749,22,517,59.9,2.8,58.2,64.6,...,68.3,1307,827,795,33,480,63.3,3.9,60.8,67.0
12,충청북도,1363,867,845,23,495,63.7,2.6,62.0,68.2,...,68.3,1409,919,890,29,489,65.3,3.2,63.2,69.0
13,충청남도,1987,1266,1226,40,721,63.7,3.2,61.7,67.5,...,69.3,1885,1218,1176,42,667,64.6,3.5,62.4,67.8
14,전라북도,1569,960,940,20,609,61.2,2.1,59.9,65.5,...,64.4,1555,956,932,24,600,61.5,2.5,59.9,64.6
15,전라남도,1539,994,964,30,545,64.6,3.0,62.7,67.5,...,68.8,1525,998,974,24,528,65.4,2.4,63.9,69.1
16,경상북도,2313,1490,1443,47,823,64.4,3.2,62.4,67.5,...,67.4,2321,1478,1418,60,842,63.7,4.0,61.1,66.4
17,경상남도,2812,1763,1704,59,1049,62.7,3.3,60.6,65.9,...,67.0,2854,1802,1729,72,1052,63.1,4.0,60.6,65.5
18,제주도,512,363,355,8,150,70.8,2.2,69.3,73.8,...,72.5,563,388,378,10,176,68.8,2.5,67.1,70.7

In [ ]:
# .5 => 경제활동 참가율
# .6 => 실업률